{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h2 style="margin-top: 2%; margin-left: 32%; margin-bottom: 3%">Informations Supplementaires</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-2">
                {{ form_start(form) }}
                {{ form_row(form.numero_permis,{'attr':{'placeholder': 'Saisissez le numeroe de votre permis'}}) }}
                <button type="submit" class="btn btn-success" style="margin-top: 4%; margin-bottom: 2%;">Enregistrer</button>
                {{ form_end(form) }}
            </div>
        </div>
        <img class="rounded" src="{{ asset('mydocs/client.png') }}" alt="Chania" width="230" style="margin-left: 52%; margin-top: -14%; ">
    </div>
{% endblock %}
